
@{
    ViewBag.Title = "TypeCmd";
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}

<!DOCTYPE html>
<html>
<head>





    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="conteneur">
        <h1>Voulez-Vous Acheter ou Echanger ?</h1><br /><br />
        <input type="radio" name="typcmd" id="acheter">
        <label for="acheter">
            <i class="fa fa-dollar-sign" aria-hidden="true"></i>
            <span>Acheter</span>
        </label>
        <input type="radio" name="typcmd" id="echanger">
        <label for="echanger">
            <i class="fa fa-exchange-alt" aria-hidden="true"></i>
            <span>Echanger</span>
        </label>
        <br /><br />
        <input type="button" value="Confirmer" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" />
    </div>
</body>
</html>



